<mat-list>
   <mat-list-item *ngFor="let user of myFriends; let i = index"  >
     <img matListAvatar [src]="user.photoURL">
     <h3 matLine>{{user.displayName}}</h3>
     <p matLine *ngIf="isMember[i]">
       회원
     <p>
     <button mat-icon-button matTooltip="멤버추가"
       (click)="addFriend(user)" *ngIf="!isMember[i]">
         <mat-icon color="primary">add_circle</mat-icon>
     </button>
     <button mat-icon-button matTooltip="멤버삭제"
       (click)="removeMember(user)" *ngIf="isMember[i]">
         <mat-icon color="primary">delete</mat-icon>
     </button>     
   </mat-list-item>
</mat-list>
